<div
  id="announcement-banner"
  style="
    background-color: #FFEB3B;
    color: #000000;
    text-align: center;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
  "
>
  {{ shop.metafields.my_app.announcement.value }}
</div>

{% schema %}
{
  "name": "Announcement Banner",
  "target": "body",
  "settings": []
}
{% endschema %}